.manager-section {
  display: inline-block;
  vertical-align: top;
  width: 440px;
  height: 180px;
  margin: 0;
  background: #e7f5ff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.manager-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.manager-card {
  border: 2px solid transparent;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
}

.manager-card.active {
  border-color: #ffa726;
}

.manager-card img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}