.mapper-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.controls {
  position:relative;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  min-width: 1200px;
}

label {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.actions {
  position: absolute;
  top: 80%;
  left: 2%;
  margin-right: 5px;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background: #4caf50;
  color: white;
  font-weight: bold;
}

button {
  margin-right: 5px;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background: #4caf50;
  color: white;
  font-weight: bold;
}

button:hover {
  background: #43a047;
}

.warning {
  color: red;
  grid-column: 1 / -1;
}

.grid {
  display: grid;
  gap: 2px;
  justify-content: center;
}

.cell {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  color: white;
}

.type-empty { background: #ccc; }
.type-corn { background: #fbc02d; }
.type-grass { background: #66bb6a; }
.type-soy { background: #8d6e63; }
.type-pig { background: #ef5350; }

.grid-info {
  position: absolute;
  top: 90%;
  left: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  color: #333;
}

.grid-section {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 150%;
  left: 2%;
  flex-wrap: nowrap;
}

.pig-purchase {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 180px;
  margin: 0;
  background: #e7f5ff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.pig-purchase input {
  width: 100%;
  padding: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.pig-purchase button {
  background: #ff9800;
}

.pig-purchase button:hover {
  background: #f57c00;
}

.pig-batch-info {
  text-align: center;
  margin-top: 20px;
}

.pig-batch-info ul {
  list-style: none;
  padding: 0;
}